* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
/* body {
   background: #eee;
}  */
*/ .navbar {
  /* background-color: dodgerblue; */
  /* color:white; */
  font-weight: bolder;
}
.navbar-brand {
  font-weight: bolder;
  font-size: 25px;
  color: tomato !important;
}

.navbar-toggler {
  border: none;
  /* background: tomato; */
  /* color:tomato !important; */
}
.menu_active {
  color: tomato;
  /* border-bottom: tomato 3px solid; */
}

.main-img {
  width: 100%;
  height: auto;
}
.main-img img {
  width: 100%;
  padding-top: 50px;
  height: 450px;
}

.main-text {
  height: auto;
  padding-left: 100px;
}
.Home-main {
  flex-direction: row-reverse;
  width: 100%;
}
.GetStartedBtn {
  border: 2px solid #069999;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bolder;
  text-decoration: none;
  font-size: 25px;
  color: #069999;
}
/* .row{display: flex;} */
.card {
  float: left;
  background: #eee;
  margin: 15px auto;
  width: 280px;
  /* margin: 10px auto; */
}
.card:hover {
  box-shadow: 0 0 10px grey;
  border: 5px;
}
/* .row{margin:0 auto} */

.cardImg {
  width: 100%;
  height: 200px;
}
.cardBody {
  padding: 10px 10px 10px 20px;
}
.cardBtn {
  padding: 10px 15px;
  font-size: 19px;
  color: white;
  background: tomato;
  border: none;
}
.contactBg {
  /* background-image: url("../src/Image/prod1.jpg"); */
  background: #069999;
}
